#image {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
}

img {
    height: 390px;
    width: 390px;
}

.button {
    margin-left: 550px;
    margin-top: 20px;
}
